NEXT_PUBLIC_ADMIN_APP_NAME="Yalla New Admin"
YALLA_API_BASE_URL="http://localhost:3000"
BACKEND_OPENAPI_URL="http://localhost:3000/docs/json"
ADMIN_SESSION_COOKIE_NAME="yalla_admin_session"
ADMIN_REFRESH_COOKIE_NAME="yalla_admin_refresh"
